* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Roboto Slab', serif;
    color: rgb(56, 56, 56);
    background-color: rgb(231, 231, 231);
}

/* .container {
    display: grid;
    grid-template-areas: 'header'
                        'gallery'
                        'info'
                        'menu';
} */





/* Header */

.navbar {
    /* grid-area: header; */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 43, 43);
    color: white;
    box-shadow: 0px 1px 5px black;
    z-index: 1;
    position: fixed ;
}

.navbar-title {
    font-size: 1.5rem;
    margin: 0px 1rem;
    padding: .5rem .3rem;
}

.navbar-links ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
    cursor: pointer;
}

/* Three line bar button */

.toggle-btn {
    position: absolute;
    top: .80rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;

}

/* Main Banner */

.banner {
    /* The hero image */
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/morale.png");
  
    /* Set a specific height */
    height: 500px;
    width: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* .banner img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
} */


/* Info */

.info {
    grid-area: info;
    text-align: center;
}

.info-title {
    /* background-color: darksalmon; */
    font-weight: 700;
}

/* .info-1, .info-2 {
    background-color: brown;
} */

.info-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    word-wrap: break-word;
}


.info-2 h2 {
    margin-bottom: -7px;
    line-height: 0px;
}

.whatsappIcon {
    width: 20px;
    height: 20px;
    padding-right: 8px;
    vertical-align: middle;
}

@media (max-width: 400px) {
    .toggle-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

@media (min-width: 768px) {
    .banner {
        background-position: center;
    }
}