* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Roboto Slab', serif;
    color: rgb(56, 56, 56);
    background-color: rgb(231, 231, 231);
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-areas: 'header'
                        'gallery'
                        'info'
                        'menu';
}





/* Header */

.navbar {
    grid-area: header;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.navbar-title {
    font-size: 1.5rem;
    margin: 1rem;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 1rem;
}


/* Scrolling Gallery */

.scrollGallery {
    grid-area: gallery;
}

.scrollGallery img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}


/* Info */

.info {
    grid-area: info;
    text-align: center;
}

.info-title {
    /* background-color: darksalmon; */
    font-weight: 700;
}

/* .info-1, .info-2 {
    background-color: brown;
} */

.info-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    word-wrap: break-word;
}


.info-2 h2 {
    margin-bottom: -7px;
    line-height: 0px;
}

.whatsappIcon {
    width: 20px;
    height: 20px;
    padding-right: 8px;
    vertical-align: middle;
}