* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto Slab', serif;
    color: rgb(56, 56, 56);
    background-color: rgb(231, 231, 231);
}


/* Global Class */

.display-none {
    display: none;
}

.section-title {
    text-align: center;
    text-decoration-line: underline;
    margin: 1rem 0px;
}

/* Header Section*/

.navbar {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 43, 43);
    color: white;
    box-shadow: 0px 1px 5px black;
    z-index: 1;
    position: absolute;
}

.navbar-title {
    font-size: 1.5rem;
    margin: 0px 1rem;
    padding: .5rem .3rem;
}

.navbar-links ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
    cursor: pointer;
}

/* Navbar burger button */

.burger-btn {
    position: absolute;
    top: .80rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    outline: none;
}

.burger-btn-line {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 10px;
}


/* Main Banner */

.banner {

    /* Use "linear-gradient" to add a darken background effect to the image
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/morale.png"); */
  
    background-image: url("../images/morale.png");
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Menu */

.menu {
    background-color: #f1f1f1;
    padding: 3rem 0px;
    display: grid;
    gap: 20px;
}

.menu-links ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
}

.menu-links li{
    list-style: none;
    position: relative;
    display: block;
    padding: 1rem;
}

.menu-links li a {
    text-decoration: none;
    color: royalblue;
}

.menu-links li:hover {
    background-color: rgb(187, 187, 187);
    cursor: pointer;
}

/* .menu-links li a::after {
    position: absolute;
    right: 1rem;
    bottom: 5px;
    left: 1rem;
    display: block;
    content: "";
    transition: all .1s;
    transform: translateY(10px);
    opacity: 0;
    border-top: 3px solid black;
} */


/* .food-box = grid container for items in food category */

.food-box {
    display: grid;
    padding: 1rem 1rem;
    margin-bottom: -2.4rem;
    column-gap: 25px;
    width: 100%;
    min-height: 180px;
    grid-template-areas:
    'mImage mName'
    'mImage mDescription'
    'mLine mLine';
    grid-template-rows: .3fr 1fr;
    grid-template-columns: .3fr 1fr;
}

.food-box::after {
    content: "";
    margin-top: 6px;
    grid-area: mLine;
    border-bottom: 1.4px solid rgba(99, 99, 99, 0.4);
}

.food-box > .menu-name {
    /* background-color: hotpink; */
    grid-area: mName;
}

.food-box > .menu-image {
    /* background-color: goldenrod; */
    grid-area: mImage;
    max-width: 150px;
    max-height: 150px;
    /* display: grid;
    place-items: center; */
}

.food-box > .menu-description {
    /* background-color: greenyellow; */
    grid-area: mDescription;
    
}

.drink-box {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* .drink-box > .drink-banner {
    box-shadow: -10px 10px 6px rgb(192, 192, 192);
} */

.drink-box > .drink-list {  
    line-height: 25px;
}

.drink-box > .drink-list > .drink-category {
    margin-bottom: 10px;
}

/* .drink-box > .drink-list > .drink-name {
    margin-left: 20px; 
} */

.drink-box > .drink-list > .drink-name > ul {
    list-style: none;  
}



/* Menu Categories */

.appetizer {
    position: relative;
    display: inherit;
}

.maincourse {
    position: relative;
    display: none;
}

.drinks {
    position: relative;
    display: none;
}



/* Info */

.info {
    grid-area: info;
    text-align: center;
}

.info-title {
    font-weight: 700;
}



.info-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    word-wrap: break-word;
}


.info-2 h2 {
    margin-bottom: -7px;
    line-height: 0px;
}



@media (max-width: 400px) {
    .burger-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

@media (min-width: 768px) {
    .banner {
        background-position: center;
    }
}